.popup__container {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 430px;
    border-radius: 10px;
    position: relative;
}
@media (max-width: 505px) {
    .popup__container {
        width: 100%;
        max-width: 282px;
    }
}
