.profile {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 30px;
    align-items: center;
    width: 68.8%;
    margin: auto;
}
@media (max-width: 900px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .profile {
        width: 88.1%;
    }
}
