.popup__close-button {
    background-image: url("../../../images/Close Icon.png");
    width: 40px;
    height: 40px;
    position: absolute;
    background-size: cover;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    top: -40px;
    left: 430px;
}
@media (max-width: 505px) {
    .popup__close-button {
        top: -40px;
        left: 280px;
    }
}
.popup__close-button:hover {
    opacity: 0.6;
}
