.profile__info {
  display: grid;
  grid-template-columns: max-content min-content;
  gap: 16px 18px;
  grid-template-areas:
    "profile__name profile__edit-button"
    "profile__profession profile__profession";
  align-items: center;
}

@media (max-width: 450px) {
  .profile__info {
    gap: 14px 10px;
  }
}
