.elements {
    display: grid;
    grid-template-columns:repeat( auto-fit, minmax(282px, 1fr));
    width: 68.8%;
    margin: 50px auto 66px;
    grid-column-gap: 17px;
    grid-row-gap: 20px;
}

@media (max-width: 768px) {
    .elements {
        width: 88.1%;
        margin: 36px auto 48px;
    }
}