.popup__field {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 36px 0;
  padding-bottom: 11px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 82.27%;
  text-overflow: ellipsis;
  max-width: 358px;
  overflow: hidden;
  white-space: nowrap;
}

.popup__field:first-child {
  margin-bottom: 30px;
}

@media (max-width: 505px) {
  .popup__field {
    margin-left: 22px;
    margin-right: 22px;
    max-width: 238px;
  }
}
